---
interface Props {
  title?: string;
  description?: string;
  keywords?: string;
  author?: string;
  ogImage?: string;
}

const {
  title = "Portfolio",
  description = "Welcome to my website!",
  keywords = "portfolio, astro, projects, skills, contact, developer, web",
  author = "Daridjcm",
  ogImage = "",
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title}</title>
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<meta name="author" content={author} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogImage} />
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.site?.href || ""} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={ogImage} />
<link rel="icon" href="/favicon.svg" />
